.search-by-text {
  padding: 0;
  margin: 0;
}

.sort-by-text {
  display: inline;
  padding: 0;
  margin-right: 10px;
}

.item {
  border: 1px solid #20100a;
}

.attribute-line {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.unique-item {
  color: #908858;
  font-weight: bold;
}

.set-item {
  color: #00c400;
  font-weight: bold;
}

.rune {
  color: orange;
  font-weight: bold;
}
