.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  /* border: 1px solid #20100a; */
}

.grid-container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  border: 1px solid #20100a;
}

.items > div:nth-child(odd) {
    background-color: #20100a;
}

.items > div:nth-child(even) {
    background-color: black;
}

.item {
  border: 1px solid #20100a;
}

.stat-line {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.align-left {
  text-align: left;
}

.align-center {
  height: 100%;
  display: grid;
  place-items: center;
}

.align-right {
  text-align: right;
}
