.plus-skill-grand-charm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

.class-name {
  background-color: #20100a;
}

.skill-tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}