.plus-skill-grand-charm-class {
  border: 2px solid #20100a;
  margin: 10px;
}

.class-name {
  background-color: #20100a;
}

.skill-tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}